<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LinkHubApplication</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=753955744634665";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("LinkHub", "Index", "Home", new { Area = "Common" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", new { Controller = "Home", Area = "Common" })</li>
                    <li>@Html.ActionLink("BrowseURLs", "Index", new { Controller = "BrowseURL", Area = "Common" })</li>
                    


                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("A"))
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Category <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Add", "Index", new { Controller = "Category", Area = "Admin" })</li>
                                    <li>@Html.ActionLink("View", "Index", new { Controller = "ListCategory", Area = "Admin" })</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">URL <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("ApproveOrReject", "Index", new { Controller = "ApproveURLs", Area = "Admin" })</li>
                                    <li>@Html.ActionLink("SubmitURL", "Index", new { Controller = "URL", Area = "User" })</li>
                                </ul>
                            </li>
                            <li>@Html.ActionLink("ListUser", "Index", new { Controller = "ListUser", Area = "Admin" })</li>
                            <li>@Html.ActionLink("SignOut", "SignOut", new { Controller = "Login", Area = "Security" })</li>
                            <li><a href="#">Welcome @User.Identity.Name.ToString()</a> </li>

                        }
                        if (User.IsInRole("U"))
                        {
                            <li>@Html.ActionLink("SubmitURL", "Index", new { Controller = "URL", Area = "User" })</li>
                            <li>@Html.ActionLink("SignOut", "SignOut", new { Controller = "Login", Area = "Security" })</li>
                            <li><a href="#">Welcome Mr/Ms @User.Identity.Name.ToString()</a> </li>
                        }
                    }
                    else
                    {
                        <li>@Html.ActionLink("QuickSubmitURL", "Index", new { Controller = "QuickSubmitURL", Area = "Common" })</li>
                        <li>@Html.ActionLink("Register", "Index", new { Controller = "Register", Area = "Security" })</li>
                        <li><a href="/Security/Login">Login</a></li>
                    }

                </ul>
                @if (!User.Identity.IsAuthenticated)
                {
                    <ul class="nav navbar-nav navbar-right">
                        @*<li><div class="fb-like" data-href="" data-layout="standard" data-action="like" data-show-faces="false" data-share="true"></div></li>*@
                    </ul>
                }
            </div>
        </div>

    </div>

    <div class="container body-content">
        <br /><br />
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - LinkHub Using Asp.Net MVC And Entity Framework</p>
        </footer>
        <blockquote class="pull-right">
            <p>No engineer should leave their country for hunting the job.</p>
        </blockquote>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>